<html lang="en">
  {{!-- head --}}
  {{> head }}
  <body>
    {{!-- navbar --}}
    {{> navbar}}
    {{!-- body --}}
    <div class="container">
      {{{ body }}}
    </div>
  </body>
  {{!-- footer --}}
  {{> footer}}
</html>