<div class="w-75 mx-auto">
     <div class="login__title">
        <img class="user__avatar" src="https://cdn0.iconfinder.com/data/icons/twitter-ui-flat/48/Twitter_UI-15-512.png" alt="">
        <p class="login__text">Add Products</p>
    </div>
    <form action="/add-products" class="login__form" method="post">
        {{#if errorAddProducts}}
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        {{errorAddProducts}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{else}}
   {{/if}}
        <div class="form-floating mb-3">
            <input name="title" type="text" id="floatingInput" placeholder="title">
        </div>

        <div class="form-floating mb-3">
            <textarea style="height: 100px;" name="description" placeholder="description" id="floatingTextarea"></textarea>
        </div>

        <div class="form-floating mb-3">
            <input name="image" type="text" id="floatingInput" placeholder="image">
        </div>

        <div class="form-floating mb-3">
            <input name="price" type="number" id="floatingInput" placeholder="price">
        </div>
        <button type="submit" class="button add__btn mt-3">Add Product</button>
    </form>
</div>