<div class="w-75 mx-auto">
    <div class="bg"></div>
    {{#if loginError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        {{loginError}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{else}}
    {{/if}}
    <form action="/login" class="login__form" method="post">
        <div class="login__title">
            <img class="user__avatar" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="">
            <p class="login__text">Login</p>
        </div>
        <div class="mb-3">
            <input name="email" id="email" type="email" placeholder="name@example.com" />
            {{!-- <label for="email">Your email</label> --}}
        </div>
        <div class="mb-3">
            <input id="password" name="password" type="password" placeholder="Your password" />
            {{!-- <label for="email">Your email</label> --}}
        </div>
        <button type="submit" class="button mt-3">Login</button>
    </form>
</div>